/* selektor znacznika*/

p {
    color: orange
}


/* selektor id */

#paragraph {
    color: blue
}


/* selektor klasy */

.powitanie {
    color: deeppink
}


/* laczenie selektorow */

a,
span,
div {
    color: forestgreen
}


/* selektor bezposredniego elementu potomnego */

li>a {
    color: greenyellow
}


/* selektor elementow potomnych */

div a {
    color: hotpink
}


/* selektor bliskiego rodzenstwa */

h2 + h3 {color: dimgray}

/* selektor rodzenstwa */

h4 ~ p {color: chocolate}

/* selektor wykluczajacy */

ul > li:not(.elo) {color: darkslateblue}

/* Selektor kolejnego elemetu potomnego */
/* an+b -> 2n+0 - co drugie bedzie kolorowane 
An+b - 

a - dowolona liczba - co kt elemnt chcesz zaznaczyc
b - dowolna liczba
n - licznik od 0

even/odd

*/

ol > li:nth-child(2n+1) {color: aquamarine}




















